spring:
  profiles:
    active: local # 기본 환경 선택
  devtools:
    livereload:
      enabled: true
    freemarker:
      cache: false
    debug: true
  output:
    ansi:
      enabled: always

# local 환경
logging:
  path: logs
---
spring:
  profiles: local
  datasource:
    # data: classpath:data-h2.sql # 시작할때 실행시킬 script
    url: jdbc:mysql://localhost:3306/multiculturaldb?verifyServerCertificate=false&useSSL=true
    username: root
    password: 111111
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update #컴파일하면 JPA 자동실행되는 옵션-변경분 반영
  h2:
    console:
      enabled: true

